* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fire sans', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(white, rgb(250, 7, 7));
    color: #FFF;
}

.container {
    width: 90vw;
}

#root{
    display: grid;
    place-content: center;
}

.inputField{
    padding: 2rem 1rem;
}

.inputField h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color:black;
}

.inputField form {
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
}

.inputField input {
    width: 80%;
    padding: 0.75rem 1rem;
    border-radius: 10px;
    border: none;
}

.inputField button {
    color: white;
    width: 15%;
    background-color: brown;
    box-shadow: 2px 2px black;
    border: none;
    font-weight: bolder;
    border-radius: 10px;
    font-style: italic;
}

.taskRows {
    border-radius: 20px;
    background-color: brown;
    box-shadow: 5px 3px black;
    margin: 0 0 15px 0;
    padding: 10px 10px 10px 15px;
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.descriptionRow {
    padding-top: 5px;
    word-wrap: break-word;
    max-width: 70%;
}

#buttonRow {
    display:none;
    width: 20%;
    place-content: end;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-content: center;
}

.editButton {
    background-color: rgb(3, 189, 3);
    color: #FFF;
    padding: 5px 13px;
}

.deleteButton {
    padding: 5px;
    background-color: rgb(232, 6, 6);
    color: #FFF;
}






